<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
	<title>FI UNJU</title>
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"> 
	<link rel="stylesheet" href="/css/style.css"> 
	
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	
	<body>
		<div class="container">
		<header>
	  	<div data-th-replace="~{fragments/header::navbar}"></div>    
		</header>
			
	<div class="row">	
	<main class="col-12 col-lg-9 ">
	<br>
	<section>
	<div class="card text-center">
		  <div class="card-header text-white" style="background-color: #45526e">
		    <h2>Facultad de ingenieria</h2>
		  </div>
		  </div>
		  <div class="bg-1">
		  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
		  <div class="text-center text-white">
		  <br>
		    <h3>¿Quienes somos?</h3>
		    
		    <h4 class="lead">Somos una institución educativa ubicada en la provincia de Jujuy, Argentina. Nuestro objetivo es formar profesionales capacitados en diversas áreas de la ingeniería para contribuir al desarrollo tecnológico y social de la región y del país.</h4>
		  <br>
		  </div>
        	
            <div class="container px-4 px-lg-5 text-white">
                <h3 class="text-center mt-0">Ingenierias que se imparten:
                </h3>
                
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="logo-small fa-solid fa-flask-vial"></i></div>
                            <a class="h4 mb-2 link-underline link-underline-opacity-0" href="#">Ingenieria Quimica</a>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="logo-small fa-solid fa-mound"></i></div>
                            <a class="h4 mb-2 link-underline link-underline-opacity-0" href="#">Ingenieria de Minas</a>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="logo-small fa-solid fa-industry"></i></div>
                            <a class="h4 mb-2 link-underline link-underline-opacity-0" href="#">Ingenieria Industrial</a>
                           </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="logo-small fa-solid fa-microchip"></i></div>
                            <a class="h4 mb-2 link-underline link-underline-opacity-0" href="#">Ingenieria Informatica</a>
                            
                        </div>
                    </div>
                </div>
            </div>
		<br>
		</div>
		</div>
	</section>
	<br>
	<br>
		<section>
		<br>
    <div class="container col-12 items-align-center">
        <div class="row">
        
                <h3 class="mb-3">NOTICIAS </h3>
                <hr class="divider" />
            <div class="row row-cols-1 row-cols-md-3 g-4 container-fluid">
  <div class="col">
    <div class="card h-100">
      <img src="/img/noticia1.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/noticia2.jpg" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/noticia3.jpeg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This card has even longer content than the first to show
          that equal height action.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
</div>
</div>

		</section>
			<br>
		</main>
		
	<!--aside -->
		<aside class="col-lg-3 col">
			<div class="container-fluid">
			<!--Cita-->
               <section class="mx-auto my-5" style="max-width: 23rem;">
    
				    <div class="card">
				      <div class="card-body">
				        <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4" >
				          <div class="blockquote-custom-icon shadow-1-strong" style="background-color: #F4989C">
				            <i class="fa fa-quote-left text-white"></i>
				          </div>
				          <p class="mb-0 mt-2 font-italic">
				            "Los científicos investigan lo que ya es; los ingenieros crean lo que nunca ha sido"
				            
				          </p>
				          <footer class="blockquote-footer pt-4 mt-4 border-top">
				            Albert Einsten          </footer>
        </blockquote>
      </div>
    </div>
    
  </section>
            <div class="row">
            <div class="card container-fluid" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Biblioteca FI UNju</h5>
			    <p class="card-text"><em>"... Una Biblioteca Universitaria es una institución de servicio y la calidad del servicio depende de la calidad de su personal..."</em></p>
			    <a href="https://www.fi.unju.edu.ar/biblioteca_fi/index.html" class="btn btn-primary" data-mdb-ripple-init>Ir</a>
			  </div>
			</div>
			<br>
		
	</div>
	</div>
	</aside>
		
		</div>
		<br>
		<footer>
			<div data-th-replace="~{fragments/header::footer}"></div>
		</footer>
		

		
		 </div>
	<script src="https://kit.fontawesome.com/dcfd8ac41e.js" crossorigin="anonymous"></script>
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	</body>
</html>