@charset "UTF-8";

.mask-custom {
  backdrop-filter: blur(9px);
  background-color: rgba(243,239,245,0.35);
}

.bg-1{
	background-image: url("https://images.hdqwalls.com/download/abstraction-vector-graphics-texture-jd-1920x1080.jpg");
}

html,
body,
.intro {
  height: 100%;
}

@media (min-width: 550px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 550px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 550px;
  }
}

a.link {
  font-size: .875rem;
  color: #6582B0;
}
a.link:hover, 
a.link:active {
  color: #426193;
}